<section class="row">
  <article>
    <div class="small-12 medium-12 large-6 end column" >
      <div class="row">
        <div class="article-image small-12 medium-6 large-12 column">
          <%= image_tag("journal.jpg", class: "article-img-tag") %>
        </div>
        <div class="article-details small-12 medium-6 large-12 column">
          
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <h5 class="article-title">My Journal</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="article-hr" > </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <span class="article-cat">FASHION</span>
              <%= image_tag("bullet.png") %>
              <span class="date">June 17, 2015</span>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <p class="details-p">
                Sed rutrum, diam sed vulputate mattis, libero dolor sagittis ex, et
                molestie est metus nec libero. Vestibulum blandit molestie
                fringilla. Curabitur eu velit nulla. Duis sed nibh ex.
                Vivamus tempus elit rutrum finibus gravida.
                Nam et felis ullamcorper, ultricies mi molestie, vehicula est.
                Mauris pretium.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
          <div class="row">
            <div class="small-2 column">
              <span class="article-continue">
                READ
              </span>
            </div>
            <div class="small-2 large-3 column">
              <span class="author-name">
                Farrar
              </span>
            </div>
            <div class="small-4 large-3 column">
              <span class="comment-num">
                3 comments
              </span>
            </div>
            <div class="small-4 column">
              <%= image_tag("social-mini.png", class: "social-mini") %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
        </div>
        <div class="small-12 medium-12 large-12 column" >
          <div class="hr hr-top"> </div>
        </div>
      </div>
    </div>
  </article>


    <article>
    <div class="small-12 medium-12 large-6 end column" >
      <div class="row">
        <div class="article-image small-12 medium-6 large-12 column">
          <%= image_tag("journal.jpg", class: "article-img-tag") %>
        </div>
        <div class="article-details small-12 medium-6 large-12 column">
          
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <h5 class="article-title">My Journal</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="article-hr" > </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <span class="article-cat">FASHION</span>
              <%= image_tag("bullet.png") %>
              <span class="date">June 17, 2015</span>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <p class="details-p">
                Sed rutrum, diam sed vulputate mattis, libero dolor sagittis ex, et
                molestie est metus nec libero. Vestibulum blandit molestie
                fringilla. Curabitur eu velit nulla. Duis sed nibh ex.
                Vivamus tempus elit rutrum finibus gravida.
                Nam et felis ullamcorper, ultricies mi molestie, vehicula est.
                Mauris pretium.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
          <div class="row">
            <div class="small-2 column">
              <span class="article-continue">
                READ
              </span>
            </div>
            <div class="small-2 large-3 column">
              <span class="author-name">
                Farrar
              </span>
            </div>
            <div class="small-4 large-3 column">
              <span class="comment-num">
                3 comments
              </span>
            </div>
            <div class="small-4 column">
              <%= image_tag("social-mini.png", class: "social-mini") %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
        </div>
        <div class="small-12 medium-12 large-12 column" >
          <div class="hr hr-top"> </div>
        </div>
      </div>
    </div>
  </article>

    <article>
    <div class="small-12 medium-12 large-6 end column" >
      <div class="row">
        <div class="article-image small-12 medium-6 large-12 column">
          <%= image_tag("journal.jpg", class: "article-img-tag") %>
        </div>
        <div class="article-details small-12 medium-6 large-12 column">
          
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <h5 class="article-title">My Journal</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="article-hr" > </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <span class="article-cat">FASHION</span>
              <%= image_tag("bullet.png") %>
              <span class="date">June 17, 2015</span>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <p class="details-p">
                Sed rutrum, diam sed vulputate mattis, libero dolor sagittis ex, et
                molestie est metus nec libero. Vestibulum blandit molestie
                fringilla. Curabitur eu velit nulla. Duis sed nibh ex.
                Vivamus tempus elit rutrum finibus gravida.
                Nam et felis ullamcorper, ultricies mi molestie, vehicula est.
                Mauris pretium.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
          <div class="row">
            <div class="small-2 column">
              <span class="article-continue">
                READ
              </span>
            </div>
            <div class="small-2 large-3 column">
              <span class="author-name">
                Farrar
              </span>
            </div>
            <div class="small-4 large-3 column">
              <span class="comment-num">
                3 comments
              </span>
            </div>
            <div class="small-4 column">
              <%= image_tag("social-mini.png", class: "social-mini") %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
        </div>
        <div class="small-12 medium-12 large-12 column" >
          <div class="hr hr-top"> </div>
        </div>
      </div>
    </div>
  </article>

    <article>
    <div class="small-12 medium-12 large-6 end column" >
      <div class="row">
        <div class="article-image small-12 medium-6 large-12 column">
          <%= image_tag("journal.jpg", class: "article-img-tag") %>
        </div>
        <div class="article-details small-12 medium-6 large-12 column">
          
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <h5 class="article-title">My Journal</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="article-hr" > </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <span class="article-cat">FASHION</span>
              <%= image_tag("bullet.png") %>
              <span class="date">June 17, 2015</span>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <p class="details-p">
                Sed rutrum, diam sed vulputate mattis, libero dolor sagittis ex, et
                molestie est metus nec libero. Vestibulum blandit molestie
                fringilla. Curabitur eu velit nulla. Duis sed nibh ex.
                Vivamus tempus elit rutrum finibus gravida.
                Nam et felis ullamcorper, ultricies mi molestie, vehicula est.
                Mauris pretium.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
          <div class="row">
            <div class="small-2 column">
              <span class="article-continue">
                READ
              </span>
            </div>
            <div class="small-2 large-3 column">
              <span class="author-name">
                Farrar
              </span>
            </div>
            <div class="small-4 large-3 column">
              <span class="comment-num">
                3 comments
              </span>
            </div>
            <div class="small-4 column">
              <%= image_tag("social-mini.png", class: "social-mini") %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
        </div>
        <div class="small-12 medium-12 large-12 column" >
          <div class="hr hr-top"> </div>
        </div>
      </div>
    </div>
  </article>

    <article>
    <div class="small-12 medium-12 large-6 end column" >
      <div class="row">
        <div class="article-image small-12 medium-6 large-12 column">
          <%= image_tag("journal.jpg", class: "article-img-tag") %>
        </div>
        <div class="article-details small-12 medium-6 large-12 column">
          
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <h5 class="article-title">My Journal</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="article-hr" > </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <span class="article-cat">FASHION</span>
              <%= image_tag("bullet.png") %>
              <span class="date">June 17, 2015</span>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <p class="details-p">
                Sed rutrum, diam sed vulputate mattis, libero dolor sagittis ex, et
                molestie est metus nec libero. Vestibulum blandit molestie
                fringilla. Curabitur eu velit nulla. Duis sed nibh ex.
                Vivamus tempus elit rutrum finibus gravida.
                Nam et felis ullamcorper, ultricies mi molestie, vehicula est.
                Mauris pretium.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
          <div class="row">
            <div class="small-2 column">
              <span class="article-continue">
                READ
              </span>
            </div>
            <div class="small-2 large-3 column">
              <span class="author-name">
                Farrar
              </span>
            </div>
            <div class="small-4 large-3 column">
              <span class="comment-num">
                3 comments
              </span>
            </div>
            <div class="small-4 column">
              <%= image_tag("social-mini.png", class: "social-mini") %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
        </div>
        <div class="small-12 medium-12 large-12 column" >
          <div class="hr hr-top"> </div>
        </div>
      </div>
    </div>
  </article>

    <article>
    <div class="small-12 medium-12 large-6 end column" >
      <div class="row">
        <div class="article-image small-12 medium-6 large-12 column">
          <%= image_tag("journal.jpg", class: "article-img-tag") %>
        </div>
        <div class="article-details small-12 medium-6 large-12 column">
          
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <h5 class="article-title">My Journal</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="article-hr" > </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <span class="article-cat">FASHION</span>
              <%= image_tag("bullet.png") %>
              <span class="date">June 17, 2015</span>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <p class="details-p">
                Sed rutrum, diam sed vulputate mattis, libero dolor sagittis ex, et
                molestie est metus nec libero. Vestibulum blandit molestie
                fringilla. Curabitur eu velit nulla. Duis sed nibh ex.
                Vivamus tempus elit rutrum finibus gravida.
                Nam et felis ullamcorper, ultricies mi molestie, vehicula est.
                Mauris pretium.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
          <div class="row">
            <div class="small-2 column">
              <span class="article-continue">
                READ
              </span>
            </div>
            <div class="small-2 large-3 column">
              <span class="author-name">
                Farrar
              </span>
            </div>
            <div class="small-4 large-3 column">
              <span class="comment-num">
                3 comments
              </span>
            </div>
            <div class="small-4 column">
              <%= image_tag("social-mini.png", class: "social-mini") %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
        </div>
        <div class="small-12 medium-12 large-12 column" >
          <div class="hr hr-top"> </div>
        </div>
      </div>
    </div>
  </article>

    <article>
    <div class="small-12 medium-12 large-6 end column" >
      <div class="row">
        <div class="article-image small-12 medium-6 large-12 column">
          <%= image_tag("journal.jpg", class: "article-img-tag") %>
        </div>
        <div class="article-details small-12 medium-6 large-12 column">
          
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <h5 class="article-title">My Journal</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="article-hr" > </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <span class="article-cat">FASHION</span>
              <%= image_tag("bullet.png") %>
              <span class="date">June 17, 2015</span>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <p class="details-p">
                Sed rutrum, diam sed vulputate mattis, libero dolor sagittis ex, et
                molestie est metus nec libero. Vestibulum blandit molestie
                fringilla. Curabitur eu velit nulla. Duis sed nibh ex.
                Vivamus tempus elit rutrum finibus gravida.
                Nam et felis ullamcorper, ultricies mi molestie, vehicula est.
                Mauris pretium.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
          <div class="row">
            <div class="small-2 column">
              <span class="article-continue">
                READ
              </span>
            </div>
            <div class="small-2 large-3 column">
              <span class="author-name">
                Farrar
              </span>
            </div>
            <div class="small-4 large-3 column">
              <span class="comment-num">
                3 comments
              </span>
            </div>
            <div class="small-4 column">
              <%= image_tag("social-mini.png", class: "social-mini") %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-12 large-12 column" >
              <div class="hr"> </div>
            </div>
          </div>
        </div>
        <div class="small-12 medium-12 large-12 column" >
          <div class="hr hr-top"> </div>
        </div>
      </div>
    </div>
  </article>
</section>